<?xml version="1.0"?>
<config>
    <modules>
        <EW_ConfigGlobalSearch>
            <version>1.0.0</version>
        </EW_ConfigGlobalSearch>
    </modules>
    <global>
        <models>
            <ew_configglobalsearch>
                <class>EW_ConfigGlobalSearch_Model</class>
            </ew_configglobalsearch>
        </models>
        <helpers>
            <ew_configglobalsearch>
                <class>EW_ConfigGlobalSearch_Helper</class>
            </ew_configglobalsearch>
        </helpers>
    </global>
    <adminhtml>
        <global_search>
            <config>
                <class>ew_configglobalsearch/search_config</class>
                <!--<acl></acl>-->
            </config>
            <!--<products>-->
            <!--<class>adminhtml/search_catalog</class>-->
            <!--<acl>catalog</acl>-->
            <!--</products>-->
            <!--<customers>-->
            <!--<class>adminhtml/search_customer</class>-->
            <!--<acl>customer</acl>-->
            <!--</customers>-->
            <!--<sales>-->
            <!--<class>adminhtml/search_order</class>-->
            <!--<acl>sales</acl>-->
            <!--</sales>-->
        </global_search>
    </adminhtml>
</config>
